<div class="main-container">
    <div class="showcase">
        <img class="showcase-wallapaper" src="/images/wallpaper/welcome.png" alt="showcase wallpaper"/>

        <div class="showcase-btn-container">
            <div class="showcase-btn" *ngFor="let item of showcaseItems"></div>
        </div>
    </div>

    <div class="card-container">
        <p class="page-subtitle">Last read</p>

        <div class="book-card-container"></div>
    </div>

    <div class="card-container">
        <p class="page-subtitle">Discovery</p>

        <div class="book-card-container">
            <div class="book-card">
                <div class="book-image">
                    
                </div>
                <div class="book-information">
                    <p class="no-margins book-title">Ligula vel luctus ultrices</p>
                    <p class="no-margins book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in erat lacinia suscipit. Praesent facilisis viverra risus pulvinar  semper.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>