<div class="login-container main-container">
    <div class="login-box">
        <h2 class="page-title">Login</h2>

        <form class="form-container">
            <div class="input-container">
                <label for="identifier" class="input-container--label" [(ngModel)]="username">username</label>
                <input id="identifier" type="text">
            </div>
    
            <div class="input-container">
                <label for="password" class="input-container--label"  [(ngModel)]="password">password</label>
                <input id="password" type="text">
            </div>
    
            <button class="btn btn-big btn-blue">Access</button>
        </form>

        <a class="login-link" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Dont have a account? create one</a>
    </div>
</div>