.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
    min-height: 91vh;
}

body {
    background-image: url('../../assets/images/wallpaper/login-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
}

.login-box {
    max-width: 530px;
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 0 1em;
}

.login-link {
    text-decoration: none;
    font-size: 18px;
    color: #D2D2D2;
    width: 200px;
    text-align: center;
    transition: color .25s ease-in-out;
    cursor: pointer;

    &:focus, 
    &:hover {
        color: #999999;

    }
}

.page-title {
    margin-top: .5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}