<div class="main-container">

    <div class="books-container">
        <div *ngIf="bookItems.length == 0" class="notfound-container">
            <p class="no-margins">no books found</p>
        </div>

        <div class="book-container" *ngFor="let item of bookItems; let i = index" routerLink="/book/{{item?.id}}/view">
            <div class="book-top-container">
                <div class="book-status" *ngIf="item.finished">
                    <p>Finished</p>
                </div>


                <div class="book-image-container">
                    <fa-icon *ngIf="!item.wallpaper || typeof item.wallpaper != 'string'" [icon]="faImage" class="fa-4x"></fa-icon>
                    <img *ngIf="item.wallpaper && typeof item.wallpaper == 'string'" class="book-image" src="/images/wallpaper/welcome.png" alt="book wallpaper"/>
                </div>
            </div>

            <div class="book-content-container">
                <div class="book-content">
                    <p class="no-margins book-title">{{item.name}}</p>
                    <p class="no-margins book-description">{{item.description}}</p>
                </div>

                <div class="book-information">
                    <p class="no-margins">Last update {{item.updatedAt}}</p>
                    <div></div>
                    <p class="no-margins">{{item.chapters || 0}} chapters</p>
                    <div></div>
                    <p class="no-margins">{{item.views || 0}} views</p>
                </div>
            </div>
        </div>
    </div>
</div>