
.book-path {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}


.page-title {
    margin-bottom: 25px;
}


.chapter-content {
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 35px;
    color: #101010;
    margin-bottom: 45px;
    font-family: RobotoRegular;
}

.btns-container {
    display: flex;
    gap: 15px;
    justify-content: end;
}

@media (min-width: 800px) {

    .book-path {
        font-size: 18px;
    }

    
    .page-title {
        margin-bottom: 45px;
    }

    
    .chapter-content {
        font-size: 23px;
        line-height: 45px;
    }

    .btns-container {
        margin-left: auto ;
        max-width: 700px;
    }    
}

.translation-container {
    min-height: 200px;
    border-radius: var(--border-radius);
    background-color: #fff;
    border: 1px solid #E6E6E6;
    position: absolute;
    width: calc(100% - 2em);
    box-shadow: 0 0 5px #e6e6e6;
    left: 0;
    margin: 1em;
}

.translation-container--title {
    padding: 20px;
    border-bottom: 1px solid #10101033;
}

.translation-container--content {
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    & div:not(.loader) {
        width: 100%;
    }

    & .translation {
        color: #101010;
        letter-spacing: 1px;
        line-height: 22px;
        margin: unset;
        margin-bottom: 20px;
    }

    & .translated-contet {
        color: #171717; //#101010;
        letter-spacing: 1px;
        line-height: 25px;
        font-family: RobotoRegular;
        margin: unset;
        max-height: 150px;
        overflow: scroll;
    }

    & .translation-title {
        margin: 0;
        margin-bottom: .5em;
    }
}

.translation--background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    .translation-container {
        margin: unset;
        width: 100%;
        max-width: 425px;
    }
}

@media (min-width: 700px) {
    .translation-container {
        margin: unset;
        width: 100%;
        max-width: 425px;
        border-radius: var(--border-radius);
    }
}