<div class="main-container">
    <a class="book-path" routerLink="/book/{{book?.id}}/view" routerLinkActive="active" ariaCurrentWhenActive="page">{{book?.name}}</a>

    <h2 class="page-title">{{chapter?.title}} {{(chapter?.chapterNumber || 0) + 1}}</h2>

    <app-menu *ngIf="chapter && chapter?.isCreatedByUser" [item]="chapter" type="chapter" [paddingTop0]="true" [differenceTop0]="true" [noBackground]="true" [callback]="menuCallback.bind(this)"></app-menu>
    
    <div id="quill-editor" class="quill-editor chapter-content" (mouseup)="mouseup($event)"></div>

    <div class="btns-container">
        <button class="btn btn-gray btn-big" (click)="prevChapter()" [disabled]="!this.prevChapterId || this.prevChapterId == ''">Previous</button>
        <button class="btn btn-blue btn-big" (click)="nextChapter()" [disabled]="!this.nextChapterId || this.nextChapterId == ''">Next</button>
    </div>

    <div *ngIf="startTranslation" [ngStyle]="{'top': translationCardPosition.y + 'px', 'left': translationCardPosition.x + 'px'}" class="translation-container">
        <div class="translation-container--title">
            Translation
        </div>

        <div class="translation-container--content">
            <div *ngIf="!translatedContet" class="loader"></div>

            <div *ngIf="translatedContet">
                <p class="translated-contet">{{translatedContet}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="startTranslation" class="translation--background" (click)="startTranslation = false"></div>
</div>