.footer {
    position: relative;
}

.footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}