body {
    background-image: url('../../assets/images/wallpaper/login-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
}

.header,
.footer {
    display: none;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

h1 {
    font-size: 200px;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
}


@media(min-width: 850px ) {
    h1 {
        font-size: 300px;
    }
}

@media(min-width: 850px ) {
    h1 {
        font-size: 350px;
    }

    h2 {
        font-size: 30px;
    }
}