.login-container {
    background-image: url('../../assets/images/wallpaper/login-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
}


.login-box {
    max-width: 530px;
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 1em;
}


.login-link {
    text-decoration: none;
    font-size: 18px;
    color: #D2D2D2;
    width: 220px;
    text-align: center;
    transition: color .25s ease-in-out;
    cursor: pointer;

    &:focus, 
    &:hover {
        color: #999999;

    }
}


.page-title {
    margin-top: .5em;
}
