<div class="login-container main-container">
    <form  *ngIf="!userCreated" class="login-box">
        <h2 class="page-title">Sign up</h2>

        <form class="form-container" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="input-container">
                <label for="identifier" class="input-container--label">username</label>
                <input id="identifier" type="text" formControlName="username" focus>

                <div class="input-warning" *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.invalid">
                    <fa-icon [icon]="faCircleExclamation"></fa-icon>

                    <div class="input-waning-texts">
                        <p *ngIf="registerForm.get('username')?.hasError('required')" class="no-margins">A username is required</p>
                        <p *ngIf="registerForm.get('username')?.hasError('minlength')" class="no-margins">The username must be at least 5 characters long</p>
                        <p *ngIf="registerForm.get('username')?.hasError('maxlength')" class="no-margins">The username must not be longer than 120 characters</p> 
                    </div>
                </div>
            </div>
    
            <div class="input-container">
                <label for="email" class="input-container--label">email</label>
                <input id="email" type="email" formControlName="email">

                <div class="input-warning" *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.invalid">
                    <fa-icon [icon]="faCircleExclamation"></fa-icon>

                    <div class="input-waning-texts">
                        <p *ngIf="registerForm.get('email')?.hasError('required')" class="no-margins">A email is required</p>   
                        <p *ngIf="registerForm.get('email')?.hasError('email')" class="no-margins">Please enter a valid email address</p>
                        <p *ngIf="registerForm.get('email')?.hasError('minlength')" class="no-margins">The email must be at least 3 characters long</p>    
                        <p *ngIf="registerForm.get('email')?.hasError('maxlength')" class="no-margins">The email must not be longer than 120 characters</p>    
                    </div>
                </div>
            </div>
    
            <div class="input-container">
                <label for="password" class="input-container--label">password</label>
                <input id="password" type="password" formControlName="password">

                <div class="input-warning" *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.invalid">
                    <fa-icon [icon]="faCircleExclamation"></fa-icon>

                    <div class="input-waning-texts">
                        <p *ngIf="registerForm.get('password')?.hasError('required')" class="no-margins">A password is required</p>    
                        <p *ngIf="registerForm.get('password')?.hasError('minlength')" class="no-margins">The password must be at least 8 characters long</p> 
                        <p *ngIf="registerForm.get('password')?.hasError('maxlength')" class="no-margins">The password must not be longer than 120 characters</p>    
                    </div>
                </div>
            </div>

            <div class="input-container">
                <label for="confirmPassword" class="input-container--label">confirm your password</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword">

                <div class="input-warning" *ngIf="registerForm.get('confirmPassword')?.dirty && (registerForm.get('confirmPassword')?.invalid || registerForm.hasError('valuesDontMatch'))">
                    <fa-icon [icon]="faCircleExclamation"></fa-icon>

                    <div class="input-waning-texts">
                        <p *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="no-margins">A confirm password is required</p>    
                        <p *ngIf="registerForm.hasError('valuesDontMatch')" class="no-margins">Passwords do not match</p> 
                    </div>
                </div>
            </div>
    
            <button class="btn btn-big btn-blue" type="submit" [disabled]="!registerForm.valid">Create Account</button>
        </form>
        
        <a class="login-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Do you have an account? Please log in</a>
    </form>

    <div class="box-success" *ngIf="userCreated">
        <fa-icon [icon]="faCircleCheck" class="fa-6x box-success--icon"></fa-icon>
        <p class="no-margins box-success--description">User was created with success!</p>
        <button class="btn btn-big btn-green">
            Go to login
            <fa-icon [icon]="faArrowRightLong"></fa-icon>
        </button>
    </div>
</div>