<div class="header">
    <div class="left">
        <a class="logo" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
    </div>

    <div *ngIf="isNotLogin" class="right">
        <button class="btn btn-small btn-yellow btn-book" *ngIf="userProfile" routerLink="/book/new" routerLinkActive="active">
            <fa-icon [icon]="faPlus"></fa-icon> Create
        </button>

        <div class="search-container">
            <div class="search-bar">
                <input class="search" type="text" placeholder="search" [(ngModel)]="searchQuery" (keydown)="searchKeydown()" (keyup)="searchKeyup()" (click)="openSearchResult = searchQuery != ''">
                
                <button class="btn btn-blue"  [disabled]="searchQuery == ''" (click)="searchRedirect()">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </button>
            </div>
            
            
            <div class="search-results" *ngIf="openSearchResult">
                <div *ngIf="!searchingDone" class="loader"></div>
                <div class="notfound-container" *ngIf="searchingDone && searchItems.length == 0">
                    <p class="no-margins">no books found</p>
                </div>

                <div *ngFor="let item of searchItems" class="search-result" routerLink="/book/{{item.id}}/view" routerLinkActive="active">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                    <p class="no-margins">{{item.name}}</p>
                </div>
            </div>
        </div>

        <div class="me-container" *ngIf="userProfile">
            <div class="me-profile" (click)="toggleProfileMenu()">
                <span *ngIf="!userProfile?.src">A</span>
            </div>

            <div *ngIf="openMenuProfile" class="me-menu">
                <div class="me-menu--profile">
                    <div>
                        <span *ngIf="!userProfile?.src">A</span>
                    </div>

                    <p class="no-margins">{{userProfile.username}}</p>
                </div>

                <div class="me-menu--divider"></div>
                
                <div class="me-menu--options">
                    <div routerLink="/me" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="toggleProfileMenu()" class="me-menu--option">
                        <p>Profile</p>
                    </div>
                    <div (click)="logout()" class="me-menu--option">
                        <p>Logout</p>
                    </div>
                </div>
            </div>
        </div>

        <a *ngIf="!userProfile" class="login-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </div>

    <div *ngIf="openMenuProfile" class="me-menu--background" (click)="toggleProfileMenu()"></div>
    <div *ngIf="openSearchResult" class="search--background" (click)="openSearchResult = false"></div>
</div>