.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    width: 176px;
    height: 38px;
    background-image: url('../../assets/images/logo/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 21px 1em;
}

.search-container {
    position: relative;
    z-index: 100;
}

.search {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid #D2D2D2;
    border-right: unset;
    background-color: #fff;
    padding: 6.5px 15px;
    min-width: 365px;
    max-width: 365px;
    width: 100%;
    position: relative;
    display: none;

    &:focus,
    &:hover {
        border-color: var(--main-color);
    }
}

.search-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: 1px solid #D2D2D2;
    z-index: 100;
    overflow: hidden;
    min-height: 200px;
    margin-top: 20px;
}

.search-result {
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    align-content: center;
    gap: 20px;
    color: #101010;


    &:hover {
        background-color: #F0F0F0;
    }
}

.search-bar {
    display: flex;

    & .btn {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        padding: 13px 25px;
    }
}

.right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.me-profile {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #fff;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}


.login-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    color: var(--main-color);
}


.btn-book {
    display: none;
}

@media(min-width: 900px) {
    .btn-book,
    .search {
        display: block;
    }

    .me-profile {
        display: flex;
    }
}

.me-container {
    position: relative;
}

.me-menu {
    position: absolute;
    width: 250px;
    background-color: #fff;
    top: 40px;
    right: 20px;
    border-radius: var(--border-radius);
    border: 1px solid #D2D2D2;
    z-index: 100;
    overflow: hidden;

}

.me-menu--profile {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 20px;

    & div {
        width: 100px;
        height: 100px;
        background-color: var(--main-color);
        border-radius: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #fff;
        font-size: 50px;
    }
}

.me-menu--divider {
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
}

.me-menu--option {
    padding: 20px;
    cursor: pointer;
    color: #101010;
    text-align: center;

    &:hover,
    &:focus {
        background-color: #fafafa;
    }

    & p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin: 0;
    }
}

.search--background,
.me-menu--background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.notfound-container {
    margin: 1em;
}