.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 1em;
    color: #fff;
}

.logo {
    width: 176px;
    height: 38px;
    background-image: url('../../assets/images/logo/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search {
    border-radius: var(--border-radius);
    border: 1px solid #D2D2D2;
    background-color: #fff;
    padding: 6.5px 15px;
    min-width: 365px;
    max-width: 365px;
    width: 100%;
    position: relative;

    &:focus,
    &:hover {
        border-color: var(--main-color);
    }

    &::before {
        content: '\f002';
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
    }
}

.right {
    display: flex;
    gap: 15px;
}

.me-profile {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}