<div class="header">
    <div class="left">
        <a class="logo" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
    </div>

    <div *ngIf="isNotLogin" class="right">
        <button class="btn btn-small btn-yellow btn-book" *ngIf="userProfile" routerLink="/book/new" routerLinkActive="active">
            <fa-icon [icon]="faPlus"></fa-icon> Create
        </button>

        <input class="search" type="text" placeholder="search">

        <div class="me-container" *ngIf="userProfile">
            <div class="me-profile" routerLink="/me">
                <span *ngIf="!userProfile?.src">A</span>
            </div>
        </div>

        <a *ngIf="!userProfile" class="login-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </div>
</div>