<div class="main-container">
    <div>
        <div class="book-container-info">
            <div class="book-container-info--top">
                <div class="book-btn-actions-container">
                    <button class="btn btn-yellow btn-small btn-text btn-hug" *ngIf="isCreatedByUser" routerLink="/book/{{book?.id}}/new/chapter">
                        <fa-icon [icon]="faPlus"></fa-icon>  New Chapter
                    </button>
        
                    <button class="btn btn-blue btn-small btn-text btn-hug" *ngIf="isCreatedByUser" routerLink="/book/{{book?.id}}/update">
                        <fa-icon [icon]="faPenNib"></fa-icon>  Edit
                    </button>
        
                    <button class="btn btn-red btn-small btn-text btn-hug" *ngIf="isCreatedByUser" (click)="deleteBook()">
                        <fa-icon [icon]="faTrash"></fa-icon>  Delete
                    </button>
                </div>
    
                <div></div>
            </div>
            
            <div class="book-wallpaper-container">
                <div class="book-wallpaper-container--wallpaper">
                    <fa-icon *ngIf="!book?.wallpaper || typeof book?.wallpaper != 'string'" [icon]="faImage" class="fa-7x"></fa-icon>
                    <img *ngIf="book?.wallpaper && typeof book?.wallpaper == 'string'" src="/images/wallpaper/welcome.png" alt="book wallpaper"/>
                </div>
                
    
                <div class="book-wallpaper-container--btns">
                    <button [disabled]="!lastChapterId" class="btn btn-black btn-hug" (click)="playLastChapter()">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </button>
    
                    <button [disabled]="!userProfile" class="btn btn-pink btn-medium btn-hug" (click)="changeLikeBook()">
                        <fa-icon *ngIf="!book?.userLiked" [icon]="faHeartOutline"></fa-icon> 
                        <fa-icon *ngIf="book?.userLiked" [icon]="faHeartFull"></fa-icon>
                        {{book?.likes || 0}}
                        Likes
                    </button>
                </div>
            </div>
        </div>

        <div class="book-info-container">
            <h3 class="book-info-container--title">{{book?.name}}</h3>
            <p class="book-info-container--description">{{book?.description}}</p>
            <p class="book-info-container--author">{{book?.author}}</p>
        </div>

        <div class="book-tag-container" *ngIf="book?.tags">
            <div class="book-tag"  *ngFor="let item of book?.tags">{{item.value}}</div>
        </div>

        <div class="book-moreInfo-container">
            <p class="no-margins">Created {{book?.createdAt}}</p>
            <div></div>
            <p class="no-margins">Last Update {{book?.updatedAt}}</p>
            <div></div>
            <p class="no-margins">{{book?.views || 0}} views</p>

            <div *ngIf="book?.finished"></div>
            <p class="no-margins" *ngIf="book?.finished">Finished</p>
        </div>
    </div>
    
    <div class="card-container">
        <p class="page-subtitle">Chapters {{chapters?.length || 0}}</p>

        <div *ngIf="!chapters || chapters?.length == 0" class="notfound-container">
            <p class="no-margins">No chapters found</p>
        </div>

        <div class="chapters-container" *ngIf="chapters && chapters.length > 0">
            <div class="chapter-card" [ngClass]="{'read': item.read }"  *ngFor="let item of chapters; let i = index" routerLink="/book/{{book?.id}}/chapter/{{item?.id}}"> 
                <h3 class="chapter-card--number no-margins">{{i + 1}}</h3>

                <div class="chapter-card--content">
                    <div class="chapter-card--bodyContent">
                        <p class="chapter-card--title">{{item.title}}</p>
                        <p class="chapter-card--body">{{item.summary}}</p>
                    </div>

                    <div class="chapter-card--info">
                        <p class="no-margins">Created {{item?.createdAt}}</p>
                        <div></div>
                        <p class="no-margins">Last Update {{item?.updatedAt}}</p>
                        <div *ngIf="item?.read"></div>
                        <p *ngIf="item?.read" class="no-margins">Read</p>
                    </div>

                    <app-menu *ngIf="item.isCreatedByUser" [item]="item" type="chapter" [difference20]="true" [noBackground]="true" [callback]="menuCallback.bind(this)"></app-menu>
                </div>
            </div>
        </div>

        <div *ngIf="chapters && chapters.length > 0 && chaptersPagination" class="container--pagination">
            <button class="btn btn-grey btn-small btn-hug btn-search" (click)="changePage('first')"><<</button>
            <button class="btn btn-grey btn-small btn-hug btn-search" (click)="changePage('prev')"><</button>
            <button class="btn btn-blue btn-small btn-hug btn-search" *ngFor="let item of chaptersPagination.maxPagesArray; let i = index" (click)="changePage(i)" [ngClass]="{ 'btn-grey': chaptersPagination.page != i + 1 }">{{ i + 1 }}</button>
            <button class="btn btn-grey btn-small btn-hug btn-search" (click)="changePage('next')">></button>
            <button class="btn btn-grey btn-small btn-hug btn-search" (click)="changePage('last')">>></button>
        </div>
    </div>
</div>